html {
      background-color: black;
      font-family: verdana;
}
h1, h2, p, a {
  text-align: center;
}

p, footer{
  font-size: 21px;
  color: grey;
}

h1{
  font-weight: normal;
  font-size: 50px;
  color: white;
}

footer{
  text-align: right;
}
h2 {
  color: white;
  font-weight: 300;
  font-size: 42px;
}

img {
    display: block;
    margin: auto;
}

a {
  color: aquamarine;
  font-size: 16px;
}
video{
  margin: 0 auto;
 display: block;
}
